[Unit]
Description=Graphite-Carbon service

[Service]
Environment=GRAPHITE_ROOT={{ graphite_prefix }}
Environment=PYTHONPATH=/usr/local/lib/python2.7/dist-packages/opt/graphite/lib
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/carbon-cache.py --config {{ graphite_prefix }}/conf/carbon.conf --debug start

[Install]
WantedBy=multi-user.target
